{% extends 'common/base.html' %}
{% load static %}
{% block title %}考试结束{% endblock %}

{% block body %}
    {% include "common/title.html" %}
    <div class="row">
        <div class="col-12 text-center justify-content-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>答 题 结 束 !</h1>
            <h1>祝 您 成 功 !</h1>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}