<footer class="cc-footer fixed-bottom">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-12">
                <h5>主办单位：中共巴中市委办公室、巴中市人民政府办公室、中共巴中市委政策研究室、中共巴中市直属机关工作委员会</h5>
            </div>
            <br>
            <div class="col-12">
                <h5><small>
                Copyright © 2018-2021 机关公文写作大赛. All Rights Reserved. Designed by
                <span style="color: #ccc;"><a href="http://blog.yfengl.cn" target="_blank">Spring</a></span>.&nbsp;
                </small></h5>
            </div>
            <br>
        </div>
    </div>
</footer>